.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  max-width: 300px;
  position: relative;
  background-color: #f3eae8;
  border-radius: 10px;
  color: #705417;
}
.card img {
  max-width: 250px;
  height: auto;
}
.card h3 {
  color: #120907;
}
.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card::before {
  content: '';
  background: linear-gradient(
    135deg,
    #fd1d1d,
    #d62976,
    #fa7e1e,
    #feda75,
    #48ff00,
    #00ffd5,
    #4f5bd5,
    #7a00ff,
    #962fbf,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(20px);
  width: 102%;
  height: 102%;
  animation: moving-gradient 8s linear infinite;
  border-radius: 10px;
}
.card::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes moving-gradient {
  0% {
    background-position: 0 0;
    opacity: 0.5;
  }
  50% {
    background-position: 400% 0;
    opacity: 1;
  }
  100% {
    background-position: 0 0;
    opacity: 0.5;
  }
}
.buy-btn {
  text-decoration: none;
  cursor: pointer;
  background: #1d201f;
  color: #ead2ac;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 0.5px;
  outline: 0;
  border-radius: 10px;
  font-weight: bold;
  max-width: 150px;
  height: 60px;
}
.buy-btn:hover {
  background: #ead2ac;
  color: #1d201f;
  box-shadow: 0 0 5px, 0 0 25px #ead2ac, 0 0 50px #ead2ac, 0 0 100px #ead2ac;
}
